body{
    height:100%;
    width:100%;
    background-image: repeating-linear-gradient(to right,rgb(217, 177, 183),rgba(166, 232, 166, 0.928) 100%);
}
h1{
    margin: 0%;
    padding-top: 0cm;
    font-weight:bolder;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.blogp{
    margin: 0%;
    text-align: center;
    margin-bottom:25px;
}
.blogp span{
    padding:3px;
    color: white;
    background-color: black;
}
.div_1{
    margin-top: 10px;
    width: 58%;
    box-shadow:4px 4px 4px #3231319e;
    float: left;
    background-color: rgba(255, 255, 255, 0.688);
}
.box_title{
    font-family: 'Nunito', sans-serif;
    padding-top: 0px;
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 0px;
}
.div_1 img{
    width: 100%;
}
.but{
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  .date{
    font-size:x-small;
    font-family: 'Times New Roman', Times, serif;
  }
  .comment{
    text-align: right;
    position:relative;
    bottom:33px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    /* padding: 3px;
    margin-right: 1px; */

  }
  .div_2{
    margin-right: 21px;
    margin-top: 10px;
    width:38%;
    box-shadow: 4px 4px 4px #3231319e;
    float:right;
    background-color: rgba(255, 255, 255, 0.688);
  }
  .div_2 img {
    width: 100%;
  }
  .div_4{
    margin-top:18px;
  }
  .div_4 #pop{
    background-color: rgba(162, 159, 159, 0.457);
    padding:13px;
    margin:0px;
    font-family:Arial, Helvetica, sans-serif
  }
  .popp{
    margin-top: 10px;
    margin-left: 19%;
    /* margin-left:20px; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .div_4 a{
    color:black;
    margin-top:0px;
    font-size: smaller;
    margin-left:1px;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .space{
    margin:0;
    margin-left:8px;
    margin-top:10px;
  }
  .div_4 img{
    float:left;
    margin-top:0px;
    margin-left: 2%;;
    max-width: 14%;
    max-height: 100%;
    display: block;
  }